@charset "utf-8";
/* CSS Document */


html, html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.row:before {
    clear: both;
}
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}

body {
   
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    font-size: 14px;
    color: #000000;
}


/* grid layout, 6 columns */
.wrapper {
    display: grid ; /* display: inline-grid;*/
    grid-template-columns: "1fr 1fr 1fr"; /* 3 x 1 fraction */
    color: #000000;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}


.wrapper  button {
	height: 50px;
	widtH: 300px;
	color: red;
	font-size: 48px;
}









.headline {
    grid-column: 1 / span 3;
    grid-row: 1;
	color: #000000;
    background-color: yellow;
}

.preis_abfrage {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: yellow;
}

.preis_abfrage  button {
	height: 50px;
	width: 350px;
	color: red;
	font-size: 2rem;
  font-weight: 700;
  background-color: #dadada;
  border-radius: 15px ;
}

.preis_abfrage input {
	height: 80px;
	widtH: 300px;
	color: red;
	font-size: 72px;
}


.headline h1 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}

.headline h2 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}

.headline h3 {
    font-size: 40px;
    font-weight: 200;
	text-align: left;
}


.preis_abfrage select {
	font-size: 1.5rem;
	color: blue;
}







.headline_3 {
    grid-column: 1 / span 3;
    grid-row: 3;
	color: #000000;
	border-color: blue;
    background-color: #F5ABAD;
}


.artikel_eingabe {
    grid-column: 1 / span 3;
    grid-row: 4;
	border-color: blue;
    background-color: #F5ABAD;
}

.artikel_eingabe  button {
	height: 50px;
	width: 350px;
	color: red;
	font-size: 2rem;
  font-weight: 700;
  background-color: #dadada;
  border-radius: 15px ;
}


.artikel_eingabe table {
    margin-left: auto;
    margin-right: auto;
    width: 800px; 
    border-spacing: 0px;
    padding: 0px;
    font-size: 52px;
    font-weight: 400;
    border-width: 2px; 
    color: #000; 
}


.artikel_eingabe td {
    width: 800px; 
    font-size: 52px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000; 
}


.waren_ausgabe table {
    margin-left: auto;
    margin-right: auto;
    width: 800px; 
    border-spacing: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: 400;
    border-width: 2px; 
    color: #000; 
}


.waren_ausgabe td {
    width: 800px; 
    font-size: 36px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000; 
}



.artikel_eingabe input {
	height: 80px;
	widtH: 800px;
	color: red;
	font-size: 72px;
}


.headline_3 h1 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}

.headline_3 h2 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}


.artikel_eingabe select {
	font-size: 1.5rem;
	color: blue;
}






.headline_2 {
    grid-column: 1 / span 3;
    grid-row: 5;
	color: #000000;
	border-color: green;
    background-color: lightgreen;
}

.preis_eingabe {
    grid-column: 1 / span 3;
    grid-row: 6;
	border-color: green;
    background-color: lightgreen;
}

.preis_eingabe  button {
	height: 50px;
	width: 350px;
	color: red;
	font-size: 2rem;
  font-weight: 700;
  background-color: #dadada;
  border-radius: 15px ;
}

.preis_eingabe input {
	height: 80px;
	widtH: 300px;
	color: red;
	font-size: 72px;
  font-weight: 700;
}


.headline_2 h1 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}

.headline_2 h2 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}


.preis_eingabe select {
	font-size: 1.5rem;
	color: blue;
}








.headline_4 {
    grid-column: 1 / span 3;
    grid-row: 7;
	color: #000000;
	border-color: blue;
    background-color: lightblue;
}


.anbieter_eingabe {
    grid-column: 1 / span 3;
    grid-row: 8;
	border-color: blue;
    background-color: lightblue;
}

.anbieter_eingabe  button {
	height: 50px;
	width: 350px;
	color: red;
	font-size: 2rem;
  font-weight: 700;
  background-color: #dadada;
  border-radius: 15px ;
}

.anbieter_eingabe input {
	height: 80px;
	widtH: 300px;
	color: red;
	font-size: 72px;
}


.anbieter_eingabe table {
    margin-left: auto;
    margin-right: auto;
    width: 800px; 
    border-spacing: 0px;
    padding: 0px;
    font-size: 52px;
    font-weight: 400;
    border-width: 2px; 
    color: #000; 
}


.anbieter_eingabe td {
    width: auto; 
    font-size: 52px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000; 
}


#textfeld input {
	height: 80px;
	widtH: 800px;
	color: red;
	font-size: 72px;
}


.headline_4 h1 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}

.headline_4 h2 {
    font-size: 48px;
    font-weight: 700;
	text-align: left;
}


.anbieter_eingabe select {
	font-size: 1.5rem;
	color: blue;
}



























.style-nav ul {
    list-style-type: disc;
}

.style-nav ul li a {
    text-decoration: none;
    color: #2F322A;
    display: block;
    text-transform: uppercase;
    padding: 30px;
}

